{% extends 'base.html' %}
{% load static %}

{% block title %}
Doctor Dashboard
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/doctor_dashboard.css' %}">
<div id="doctor-dashboard">
    <div class="container">
        <h1>Doctor Dashboard</h1>

        <div>
            <h2>Hello Dr: {{doctors}}</h2>
        </div>

        <h2>Appointments</h2>
        <ul>
            {% for appointment in appointments %}
                <li>
                    {{ appointment.appointment_date }} - {{ appointment.time }} with {{ appointment.patient.user.username }}
                    <a href="{% url 'write_prescription' appointment.id %}">Write Prescription</a>
                </li>
            {% endfor %}
        </ul>
        <br>
        <a href="{% url 'logout' %}" class="logout-btn">Logout</a>
        <a href="{% url 'update_availability' %}">update_availability</a>
    </div>
</div>
{% endblock %}
